
 *{
  margin: 0;
}
.MAIN{
height: 855px;
width: 1500px;
background-image: url();
background-size: contain;
}
.mainD{
  padding-top: 200px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 10px;
  background-image: url(https://marketplace.canva.com/EAFrJjOsypg/1/0/1131w/canva-green-and-yellow-illustrative-traditional-indian-page-border-ktcg_AWuZvk.jpg);
  background-size:cover;
  
}
.names ul{
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  background-color: rgb(255, 166, 0);
}
.names{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border: 1px solid black;
}
.names a:hover{
  color: rgb(0, 42, 255);
  font-size: larger;
  transition: 0.3s;

}
button {
background: #28a745;
color: white;
border: none;
padding: 10px 15px;
cursor: pointer;
transition: 0.3s;
border-radius: 5px;
}

button:hover {
background: #165002;
}
.names ul li{
  list-style: none;
}
.div4 {
  width: 80vw;
  background: linear-gradient( rgb(255, 168, 6), rgb(223, 103, 5));
  height: 120px;
  border-radius: 30px;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: bold;
  color: white;
  transition:0.5s ease-out;
}

.div4:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
Main{
  text-align: center;
}
Main .form{
  justify-self: center;
}



