
*{
  margin: 0;
}
.MAIN{
height: 855px;
width: 1500px;
background-image: url();
background-size: contain;
}
.mainD{
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 10px;
  background-image: url(https://img.freepik.com/free-vector/background-template-with-mandala-pattern-design_1308-43584.jpg);
  background-size:contain;
  
}
.names ul{
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  background-color: rgb(255, 166, 0);
}
.names{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border: 1px solid black;
}
.names a:hover{
  color: rgb(0, 42, 255);
  font-size: larger;
  transition: 0.3s;

}
button {
background: #28a745;
color: white;
border: none;
padding: 10px 15px;
cursor: pointer;
transition: 0.3s;
border-radius: 5px;
}

button:hover {
background: #165002;
}
#info:hover{
font-size: 40px;
transition: 0.5s;
}
.form:hover{
font-size: large;
transition: 0.5s;
}
.names ul li{
  list-style: none;
}
.div4:hover{
  color: rgb(0, 0, 0);
    transition: 0.7s;
    transform: scale3d(1.3,1.3,1);
 }
.div4{
  width: 1200px;
  background-color: rgb(236, 203, 143);
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 150px;
  text-align: center;
  border-top: 1.5px solid black;
}